@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-700 bg-gray-50 font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-gray-900;
  }
}

/* スムーズスクロールの設定 */
html {
  scroll-behavior: smooth;
}